@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.profileImg {
  width: 300px;
}
body {
  background-color: #fafafa;
}

.skillsLogo:hover {
  animation: scale-up-center 1s;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
