@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.profileImg {
  width: 300px;
}

.skillsLogo {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.linkFont:hover {
  color: gray;
}

.skillsLogo:hover {
  padding: 20px;
  box-shadow: rgba(196, 69, 143, 0.5) 0px 10px 20px,
    rgba(155, 30, 101, 0.23) 0px 6px 6px;
}

#skills div div {
  background: linear-gradient(-45deg, #e6b8ab, #fdfbfb, #badae7, #bba7e7);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
